{% extends 'base.html' %}

{% block head %}
<title>Guess the Composer</title>
{% endblock %}

{% block body %}
<br>
<h1 style="font-family:fantasy; text-align: center">Guess the Composer!</h1>
<hr>

<input type="image" src="{{ url_for('static', filename='images/liszt.jpg') }}" style="float: left; width: 18.5%; margin-left: 1.6%; margin-right: 1%; margin-bottom: 0.5em;">
<input type="image" src="{{ url_for('static', filename='images/schubert.jpg') }}" style="float: left; width: 18.5%; margin-right: 1%; margin-bottom: 0.5em;">
<input type="image" src="{{ url_for('static', filename='images/chopin.jpg') }}" style="float: left; width: 18.5%; margin-right: 1%; margin-bottom: 0.5em;">
<input type="image" src="{{ url_for('static', filename='images/bach.jpg') }}" style="float: left; width: 18.5%; margin-right: 1%; margin-bottom: 0.5em;">
<input type="image" src="{{ url_for('static', filename='images/beethoven.jpg') }}" style="float: left; width: 18.5%; margin-right: 1%; margin-bottom: 0.5em;">


<form action="/play" method="POST">
    <input type="submit" class="btn btn-outline-info" name="user_guess" value="Franz Liszt" style="float: left; width: 18.5%; margin-left: 1.6%; margin-right: 1%; margin-bottom: 0.5em; font-family:monospace;">
</form>

<form action="/play" method="POST">
    <input type="submit" class="btn btn-outline-info" name="user_guess" value="Franz Schubert" style="float: left; width: 18.5%; margin-right: 1%; margin-bottom: 0.5em; font-family:monospace;">
</form>

<form action="/play" method="POST">
    <input type="submit" class="btn btn-outline-info" name="user_guess" value="Frédéric Chopin" style="float: left; width: 18.5%; margin-right: 1%; margin-bottom: 0.5em; font-family:monospace;">
</form>
    
<form action="/play" method="POST">
    <input type="submit" class="btn btn-outline-info" name="user_guess" value="Johann Sebastian Bach" style="float: left; width: 18.5%; margin-right: 1%; margin-bottom: 0.5em; font-family:monospace;">
</form>

<form action="/play" method="POST">
    <input type="submit" class="btn btn-outline-info" name="user_guess" value="Ludwig van Beethoven" style="float: left; width: 18.5%; margin-right: 1%; margin-bottom: 0.5em; font-family:monospace;">
</form>


<audio controls>
    <source src="{{ url_for('static', filename = piece ) }}" type="audio/x-m4a" style="display:block;margin:auto; text-align: center">
</audio>

<hr>

<section class = "scores">
    <p style= "margin-left: 10px; margin-top: 10px; font-family: fantasy"> You: {{ your_score }}</p>
    <p style= "margin-left: 10px; font-family: fantasy"> Computer: {{ computer_score }} </p>
    <p style= "margin-left: 10px; font-family: fantasy"> Round number: {{ round_num }} </p>
</section>       


{% endblock %}